.Cart{
  height: 100%;
}

.cart-subHdr{
  padding-top: 150px;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aqua; */
}

.cont-shopping{
  text-decoration: none;
  color: #55c0d4;
}

.cart-content-wpr{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: firebrick; */
}

.cart-items-list-container{
  width: 70%;
  text-align: left;
  padding-right: 100px;
  /* background-color: greenyellow; */
}


hr{
  width: 100%;
  justify-content: flex-start;
}

.cart-items-hdr h2{

}

.cart-items-hdr p{

}

.cart-items-hdr h3{

}

.cart-items-list-wpr{
  padding-bottom: 50px;
  /* background-color: orange; */

}

.cart-item-img{
  width: 355px;
}

.cart-item-details{
  float: right;
  width: 50%;
  text-align: left;
  padding-left: 20px;
  /* background-color: seagreen; */
}

#cart-item-name{
  color: #55c0d4;
  font-weight: bold;
  font-stretch: expanded;
}

#cart-item-price{
  font-weight: bold;
  font-size: 1.1em;
}

.cart-item-qty{
  width: 30px;
  height: 20px;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 3px;
}

.cart-item-remove-btn{
  display: block;
  margin-top: 10px;
  border: none;
  background-color: white;
}

.cart-item-remove-btn:hover{color: red;}

.cart-item-remove-btn:visited{border: none;}

.cart-subtotal-container{
  width: 30%;
  text-align: left;
  /* background-color: violet; */
}

#cart-sub-tot{
  font-size: 1.1em;
}

.cart-email-input{
  width: 198px;
  height: 22px;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 3px;

}

.cart-blue-button{
  margin-top: 20px;
  background-color: #027efc;
  color: white;
  width: 206px;
  height: 30px;
  border: none;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 3px;
  opacity: 1;
  text-decoration: none;
  outline: 0;
}

.cart-blue-button:hover{background-color: black;}

.cart-blue-button:active{background-color: #ff8d5c}