.Checkout{

}

.contact-main-container{
  float: left;
  width: 57%;
  padding-left: 10%;
  padding-right: 3%;
  padding-top: 50px;
  box-sizing: border-box;
  text-align: left;
}

.contact-main-hdr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-main-hdr h2{
  padding-left: 10px;
}

.input-field-full{
  width: 95%;
  height: 40px;
  margin: 10px;
}

.input-field-half{
  width: 46%;
  height: 40px;
  margin: 10px;
}

.contact-main-email{
  
}

.contact-main-input-wpr p{
  padding-left: 10px;
}

.contact-main-inputs{
  
}

.contact-main-order{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-ret-to-cart{
  text-decoration: none;
  color: #39b5cd;
  padding: 10px;

}

.contact-main-order p{
}

.stripe-btn{
  padding: 20px;
}

.contact-main-footer{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding-left: 10px;
}

.contact-main-footer p{
  margin-right: 10px;
  color: #55c0d4;
  transition: color 0.2s ease-in-out;
}

.contact-main-footer p:hover{color: #39b5cd;}

.contact-sidebar-container{
  float: right;
  width: 43%;
  height: 100vh;
  background-color: #fafafa;
  box-sizing: border-box;
  padding-top: 50px;
  padding-right: 5%;
}

.sb-cart-list{
  
}

.sb-checkout-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 80px;
  width: 80%;
}

.sb-checkout-image{
  width: 4.6em;
  height: 4.6em;
}

#sb-item-name{
  margin-left: 10px;
}

#sb-item-price{
  
}

.sb-total{
  
}

.subtotal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 12%;
  padding-top: 40px;
}

.shipping{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 8%;
  padding-left: 12%;
}

.total{
  display: flex;
  flex-direction: row;
  padding-left: 11%;
  align-items: center;
}

.total h4{
  margin-left: 9px;
}

.total h2{
  margin-left: 40px;
}

#checkout-cart-tot{
  margin-left: 315px;
}
