.details-body{
  padding-top: 120px;
  height: 100vh;
}

.details-breadcrumb{
  padding: 10px 16px;
  list-style: none;
}

.details-breadcrumb ul li{
  display: inline-block;

}

ul.details-breadcrumb li:hover{
  color: red;
}

.details-img-wpr{
  float: left;
  margin-left: 200px;
}

.details-img-main{
  /* width: 840; */

}

.details-img-selector{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;

}

.details-additional-img{
  width: 128px;
  height: 96px;
  margin: 20px; 
}

.details-info{
  display: inline-block;
  text-align: left;
  margin-right: 150px;
  width: 300px;
}

#details-qty-input{
  height: 25px;
  width: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  padding-left: 5px;
}

.blue-btn{
  margin-left: 20px;
  background-color: #027efc;
  color: white;
  width: 150px;
  height: 30px;
  border: none;
  font-size: 1.0em;
  font-weight: bold;
  border-radius: 3px;
  opacity: 1;
  text-decoration: none;
  outline: 0;
}

.blue-btn:hover{background-color: black;}

.blue-btn:active{background-color: #ff8d5c}

.details-description{

}

